@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Merriweather:ital@1&family=Mukta:wght@300;400&family=Sono:wght@300;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebg{
    background:linear-gradient(-45deg, #0da487, #009289 );
}
.table-row:nth-child(odd){
    background:#efefef79;
}

.pagination .page-item.active .page-link {
    background-color: #0da487!important;
    border-color: #2779BD;
    color: #ffffff;
}

.style{
    background-color: rgb(239, 238, 238)!important;
    padding: 3px 10px;

}
.swal2-title{
    color:#015515!important;
}

.comments-container::before{
    position: absolute;
    display: block;
    top:0;
    left:-20px;
    content: "";
    width : 3px;
    height :100%;
    background:#000;
    opacity: .07;
}

.comment-container::before{
    position: relative;
    display: block;
    top:57px;
    content: "";
    width : 23px;
    height:3px;
    background-color: #000;
    left: -20px;
    opacity: .07;
}

.comment-container:last-child{
    position: relative;
}

.comment-container:last-child::after{
    position: absolute;
    display: block;
    top:60px;
    left : -40px;
    content: "";
    width  : 3px;
    height: calc(100% - 60px);

}

