@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Merriweather:ital@1&family=Mukta:wght@300;400&family=Sono:wght@300;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebg{
    background:linear-gradient(-45deg, #0da487, #009289 );
}
.table-row:nth-child(odd){
    background:#efefef79;
}

.pagination .page-item.active .page-link {
    background-color: #0da487!important;
    border-color: #2779BD;
    color: #ffffff;
}

